body {
    color: rgb(252, 185, 0)
    background: rgb(252, 185, 0);
    margin: 0px;
    font-family: "Protest Revolution", sans-serif;

}

header {
    border-bottom: solid 2px rgb(252, 185, 0);
    padding: 20px;
    font-size: 32px;
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(252, 185, 0)

}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 300px;
  }


::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc({$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 0;
  padding-top: $scrollBarHeight;
  background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-$finalHeight);
  transform-origin: right top;
  & > div {
    display: block;
    padding: 5px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.squares {
  padding: $finalHeight 0 0 0;
  & > div {
    width: $finalHeight;
    height: $finalHeight;
    margin: 10px 0;
  }
}
  
  

  
  